body {
  font-family: Helvetica, Arial, sans-serif;
  border-top: 5px solid #4c4066;
  margin: 0px auto;
  font-size: 14px;
  color: #666666;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  background-color: #fdfdfd;
  border-bottom: 1px solid #e5e2e0;
}

#logo {
  position: relative;
  top: -2px;
}

h1 {
  color: #3b3b3b;
  font-size: 3em;
}

#container {
  width: 1040px;
  margin: 0px auto;
  min-height: 750px;
}

input[type='text'] {
  height: 1.9em;
  font-size: 2em;
  width: 400px;
  padding: 5px;
}



.completed {
  text-decoration: line-through;
}

footer {
  padding-bottom: 10px;
  border-bottom: 5px solid #4c4066;
  position: absolute;
  width: 100%;
}

footer #content {
  width: 1040px;
  margin: 0px auto;
}